.header {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100vw;
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from($yellow), to($darkYellow));
  background-image: linear-gradient($yellow, $darkYellow);
  @media (min-width: 360px) {
    height: 90px;
  }
  h1 {
    font-size: 1.9rem;
    text-transform: uppercase;
    color: $blue;
  }
  .menuBtn {
    width: 45vw;
    //margin: 1vh 0 3vh 0;
    margin: 10px 0 3px 0;
    font-size: 1.3rem;
    padding: 2px;
    @include button;
  }
}
