.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  .navigateButtons {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-top: 130px;
    @media (min-width: 360px) {
      margin-top: 100px;
    }
    button {
      width: 45vw;
      margin: 4px;
      height: 32px;
      font-size: 1.3rem;
      @include button;
    }
  }
  .pokemonList {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
  }
}
