.filterPokemon {
  width: 100vw;
  h3 {
    margin: 1vh 0;
    text-align: center;
    color: $black;
    font-size: 1.1rem;
  }
  &__category {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    &--name {
      input {
        width: 65vw;
        @include input;
      }
      button {
        font-weight: bold;
        @include input;
        @include buttonHover;
      }
    }
    &--type {
      form {
        select {
          width: 40vw;
          @include input;
        }
        input {
          font-weight: bold;
          @include input;
          @include buttonHover;
        }
      }
    }
    &--ability {
      margin-bottom: 2vh;
      select {
        width: 40vw;
        @include input;
      }
      input {
        //padding: 5px;
        font-weight: bold;
        @include input;
        @include buttonHover;
      }
    }
  }
}
