.pokemonListDetails {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0.75vh;
  padding: 7px;
  width: 45vw;
  border: 1px solid $red;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from($lightPink), to($pink));
  background-image: linear-gradient($lightPink, $pink);

  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  h3 {
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__basicData {
    @include layout;
    p {
      font-size: 0.8rem;
      @include layout;
    }
  }
  &__types {
    font-size: 0.8rem;
    @include layout;
  }
  &__abilities {
    text-align: center;
    font-size: 0.8rem;
    @include layout;
  }
}
